<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>验收-修改</title>
</head>
<body>
	<aside class="right-side" layout:fragment="content-header">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <h1>
                修改
                
            </h1>
        </section>

        <!-- Main content -->
                
    </aside><!-- /.right-side -->

	<div layout:fragment="content" class="container" style= "margin-left:240px;width:800px">
		<form id="checkForm" th:action="@{/check/edit}" th:object="${check}"
			action="#" method="post" style= "margin-left:280px;margin-top:30px">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<input id="id" type="hidden" th:field="*{id}"
				th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			<input id="contractId" type="hidden" th:field="*{contractId}"
				th:class="${#fields.hasErrors('contractId')} ? 'field-error'" />
			
			<p><div class="input-block" >
						<label style="width:120px;float:left;padding:5px" ><span >类型</span></label>
						<select  th:field="*{type}" th:class="${#fields.hasErrors('type')} ? 'field-error'" style="width: 250px; height: 30px">
							<option value="1">初验</option>
							<option value="2">终验</option>
							<option value="3">其他类型</option>
						</select>
						<!-- <input style= "width:300px;" type="text" th:text="${type}" th:field="*{type}" th:class="${#fields.hasErrors('type')} ? 'field-error'" /> -->
			</div></p>
			
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >计划验收日期</span></label>
				<div class="input-append date" style= "width:400px;">
				    <input type="text" th:field="*{plannedDateOfCheck}"
				th:class="${#fields.hasErrors('plannedDateOfCheck')} ? 'field-error'" id="datetimepicker" /> 
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >实际验收日期</span></label>
				<div  class="input-append date" style= "width:400px;">
				    <input type="text" th:field="*{actualDateOfCheck}"
				th:class="${#fields.hasErrors('actualDateOfCheck')} ? 'field-error'" id="datetimepicker1"/>
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >提醒验收日期</span></label>
				<div class="input-append date" style= "width:400px;">
				   <input type="text"  th:field="*{alertDate}"
				th:class="${#fields.hasErrors('alertDate')} ? 'field-error'" id="datetimepicker2" />
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
			<p>
			<div class="input-block">
				<label style="width:120px;"><span>合同内容</span></label>
				<textarea style="width: 250px;" th:field="*{content}"
					th:class="${#fields.hasErrors('content')} ? 'field-error'"></textarea>
			</div>
			</p>
			<button class="btn btn-primary" style="margin-left:180px;" type="submit" >
				OK
			</button>
		</form>
	</div>
</body>
</html>