<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>验收-列表</title>
</head>
<body>
	<aside class="right-side" layout:fragment="content-header">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 style="float:left">验收记录</h1>
			<div style="margin-left:500px">
				<a th:href="@{/check/(contractId=${contractId})}" href="checkForm.html"
						class="btn btn-warning"> 新建验收 </a>
			</div>
		</section>

		<!-- Main content -->

	</aside>
	<!-- /.right-side -->

	<div layout:fragment="content" class="container"
		style="margin-left: 240px;">

		<div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>类型</td>
						<td>计划验收时间</td>
						<td>实际验收时间</td>
						<td>内容</td>
						<td>提醒时间</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${checks.empty}">
						<td colspan="5">没有验收</td>
					</tr>
					
					<tr th:each="check : ${checks}">
						<td><a href="checkView.html"
							th:href="@{'/check/' + ${check.id}}" th:text="${check.typeName}">type
							</a>
						</td>
						<td><a href="checkView.html"
							th:href="@{'/check/' + ${check.id}}" th:text="${check.plannedDateOfCheck}">plannedDateOfCheck}
							</a>
						</td>
						<td><a href="checkView.html"
							th:href="@{'/check/' + ${check.id}}" th:text="${check.actualDateOfCheck}">
								actualDateOfCheck </a></td>
						
						<td th:text="${check.content}">content</td>
						<td th:text="${check.alertDate}">alertDate</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>