<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>Messages : View all</title>
</head>
<body>
	<aside class="right-side" layout:fragment="content-header">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <h1>
               	 经办人列表
            </h1>
        </section>

        <!-- Main content -->
                
    </aside><!-- /.right-side -->
    
	<div layout:fragment="content" class="container" style= "margin-left:240px;">
	 
		<div >
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>id</td>
					<td>name</td>
					<td>email</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${persons.empty}">
					<td colspan="3">没有经办人</td>
				</tr>
				<tr th:each="person : ${persons}">
					<td th:text="${person.id}">1</td>
					<td><a href="personView.html" th:href="@{'/person/' + ${person.id}}"
						th:text="${person.name}"> name </a></td>
					<td th:text="${person.email}">email</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</body>
</html>