<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>Contract : Create</title>
</head>
<body>
	
	<aside class="right-side" layout:fragment="content-header">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <h1>
                	新建经办人
            </h1>
        </section>

        <!-- Main content -->
                
    </aside><!-- /.right-side -->
	<div layout:fragment="content" class="container" style= "margin-left:240px;width:800px">
		<form id="personForm" th:action="@{/person/create}" th:object="${person}"
			action="#" method="post" style= "margin-left:280px;margin-top:30px">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			
			<p><div class="input-block" >
						<label style="width:80px;float:left;padding:5px" ><span >姓名</span></label>
						<input style= "width:300px;" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'field-error'" />
			</div></p>
			<p><div class="input-block" >
						<label style="width:80px;float:left;padding:5px" ><span >Email</span></label>
						<input style= "width:300px;" th:field="*{email}"
				th:class="${#fields.hasErrors('email')} ? 'field-error'" />
			</div></p>
		
			<button class="btn btn-primary" style="margin-left:180px;" type="submit" >
				创建
			</button>
		</form>
	</div>
</body>
</html>