<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>续签-列表</title>
</head>
<body>
	<aside class="right-side" layout:fragment="content-header" >
		<!-- Content Header (Page header) -->
		<section class="content-header" >
			<h1 style="float:left">续签列表</h1>
			<div style="margin-left:500px">
				<a th:href="@{/renewal/(contractId=${contractId})}" href="renewalForm.html"
						class="btn btn-warning" > 新建续签 </a>
			</div>
		</section>

		<!-- Main content -->

	</aside>
	<!-- /.right-side -->

	<div layout:fragment="content" class="container"
		style="margin-left: 240px;">

		
		<!-- /.col-lg-6 -->
		<div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>计划续签日期</td>
						<td>实际续签日期</td>
						<td>续签内容</td>
						<td>续签提醒日期</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${renewals.empty}">
						<td colspan="4">没有续签</td>
					</tr>
					<tr th:each="renewal : ${renewals}">
						<td><a href="renewalView.html"
							th:href="@{'/renewal/' + ${renewal.id}}"  th:text="${renewal.plannedDateOfRenewal}">
							</a>
						</td>
						<td><a href="renewalView.html"
							th:href="@{'/renewal/' + ${renewal.id}}" th:text="${renewal.actualDateOfRenewal}">
								contractId </a></td>
						<td th:text="${renewal.content}">plannedDateOfRenewal</td>
						<td th:text="${renewal.alertDate}">actualDateOfRenewal</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>