<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>续签-新建</title>
</head>
<body>
	
	<aside class="right-side" layout:fragment="content-header">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <h1>
                新建续签
            </h1>
        </section>

        <!-- Main content -->
                
    </aside><!-- /.right-side -->
	<div layout:fragment="content" class="container" style= "margin-left:240px;width:800px">
		<form id="renewalCreate" th:action="@{/renewal/create}" th:object="${renewal}"
			action="#" method="post" style= "margin-left:280px;margin-top:30px">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			
			<input style= "width:300px;" type="hidden" th:text="${contractId}" th:field="*{contractId}" th:class="${#fields.hasErrors('contractId')} ? 'field-error'" />
			
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >计划续签日期</span></label>
				<div class="input-append date" style= "width:400px;">
				    <input style= "width:200px;" type="text" th:field="*{plannedDateOfRenewal}"
				th:class="${#fields.hasErrors('plannedDateOfRenewal')} ? 'field-error'" id="datetimepicker" /> 
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >实际续签日期</span></label>
				<div  class="input-append date" style= "width:400px;">
				    <input type="text" style= "width:200px;" th:field="*{actualDateOfRenewal}" th:class="${#fields.hasErrors('actualDateOfRenewal')} ? 'field-error'" id="datetimepicker1"/>
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >提醒续签日期</span></label>
				<div class="input-append date" style= "width:400px;">
				   <input type="text" style= "width:200px;" th:field="*{alertDate}" th:class="${#fields.hasErrors('alertDate')} ? 'field-error'" id="datetimepicker2" />
				    <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				</div>
			</div></p>
	
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >续签内容</span></label>
				<textarea style= "width:300px;" th:field="*{content}"
				th:class="${#fields.hasErrors('content')} ? 'field-error'"></textarea>
			</div></p>
			<button class="btn btn-primary" style="margin-left:180px;" type="submit" >
				提交
			</button>
		</form>
	</div>
</body>
</html>