<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="default_layout">
<head>
<title>续签-修改</title>
</head>
<body>
	<aside class="right-side" layout:fragment="content-header">
        <!-- Content Header (Page header) -->
        <section class="content-header" >
            <h1>
               	修改续签
            </h1>
            
        </section>

        <!-- Main content -->
                
    </aside><!-- /.right-side -->

	<div layout:fragment="content" class="container" style= "margin-left:240px;width:800px">
		<form id="renewalForm" th:action="@{/renewal/edit}" th:object="${renewal}"
			action="#" method="post" style= "margin-left:280px;margin-top:30px">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<input id="id" type="hidden" th:field="*{id}"
				th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			<input id="contractId" type="hidden" th:field="*{contractId}"
				th:class="${#fields.hasErrors('contractId')} ? 'field-error'" />
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >计划续签时间</span></label>
				<!-- <input style= "width:300px;" id="plannedDateOfRenewal" type="text" th:field="*{plannedDateOfRenewal}" th:class="${#fields.hasErrors('plannedDateOfRenewal')} ? 'field-error'" />  -->
				<div  class="input-append date">
				    <input type="text" th:field="*{plannedDateOfRenewal}" th:class="${#fields.hasErrors('plannedDateOfRenewal')} ? 'field-error'" id="datetimepicker" value="2012-06-15" width="250px;" />				    
				</div>
			</div></p>
			
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >实际续签时间</span></label>
				<!-- <input style= "width:300px;" type="text" th:field="*{actualDateOfRenewal}" th:class="${#fields.hasErrors('actualDateOfRenewal')} ? 'field-error'" /> -->
				<div  class="input-append date">
				    <input  type="text" th:field="*{actualDateOfRenewal}" th:class="${#fields.hasErrors('actualDateOfRenewal')} ? 'field-error'"  id="datetimepicker1" value="2012-06-15" width="250px;" />				    
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >提醒时间</span></label>
				
				<div  class="input-append date">
				    <input  type="text" th:field="*{alertDate}" th:class="${#fields.hasErrors('alertDate')} ? 'field-error'"  id="datetimepicker2" value="2012-06-15" width="250px;" />				    
				</div>
			</div></p>
			<p><div class="input-block" >
				<label style="width:120px;float:left;padding:5px" ><span >续签内容</span></label>
				<textarea style= "width:300px;" th:field="*{content}"
				th:class="${#fields.hasErrors('content')} ? 'field-error'"></textarea>
			</div></p>
			
		
			<button class="btn btn-primary" style="margin-left:180px;" type="submit" >
				提交
			</button>
		</form>
		
	</div>
	
</body>
</html>